<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Sara Neidorf" %></title>
    <%= stylesheet_link_tag "lib/normalize.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lora:400,700|Oswald:200,300,400,500|Source+Sans+Pro:200,300,400,600,700,900" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "site-links" %>
    <%= stylesheet_link_tag "social-links" %>
    <%= stylesheet_link_tag "header-splash" %>

  </head>
  <body>
    <div class="navbar page-column-wrapper">
      <div class="page-column">
        <div class="navbar-left">
          <%= partial 'partials/site-links' %>
        </div>
        <div class="navbar-right">
          <%= partial 'partials/social-links' %>
        </div>
      </div>
    </div>

    <div class="header-splash page-column-wrapper">
      <div class="page-column">
        <div class="header-splash-content">
          <h1>Sara Neidorf</h1>
          <div class="subheader">
            <h2>Drummer</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <svg class="content-header-triangle" preserveAspectRatio="none" viewBox="0 0 1 1">
        <polygon points="0,0 1,1 0,1" opacity="1"></polygon>
      </svg>

      <div class="content-header page-column-wrapper">
        <div class="page-column">
          <h2><%= current_page.data.title %></h2>
        </div>
      </div>
      <div class="content-body page-column-wrapper">
        <div class="page-column">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
