<div class="social-links">
  <a href="<%= data.urls.instagram %>">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="<%= data.urls.facebook %>">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="<%= data.urls.youtube %>">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="<%= data.urls.soundcloud %>">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="<%= data.urls.bandcamp %>">
    <span class="fa-stack fa-2x">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-bandcamp fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</div>