<div class="social-links">
  <a href="<%= data.urls.instagram %>">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="<%= data.urls.facebook %>">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="<%= data.urls.youtube %>">
    <i class="fab fa-youtube"></i>
  </a>
  <a href="<%= data.urls.soundcloud %>">
    <i class="fab fa-soundcloud"></i>
  </a>
  <a href="<%= data.urls.bandcamp %>">
    <i class="fab fa-bandcamp"></i>
  </a>
</div>