---
title: videos
---

<br>


<div class="columns-2">

  <div class="column">
    <div class="video-section">
      <h3>Solo</h3>
      <h4>From March 2019</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "mFB3gu7amDc" }) %>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="video-section">
      <h3>Solo</h3>
      <h4>Jamming to some Sarattma riffs</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "Vx-xERsdN4I" }) %>
      <br>
    </div>
  </div>

</div>

<div class="columns-2">

  <div class="column">
    <div class="video-section">
      <h3>Solo</h3>
      <h4>From back in 2015</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "Pj1Z0Tjfg-4" }) %>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="video-section">
      <h3>Recording at Paul Lincke Studio, Berlin</h3>
      <h4>A clip from forthcoming material with a new project</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "E3X_DGz27PM" }) %>
      <br>
    </div>
  </div>

</div>


<div class="columns-2">

  <div class="column">
    <div class="video-section">
      <h3>Mellowdeath</h3>
      <h4>"The Mellow Dies" live at Tief, Berlin</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "ksupLBrSDl0" }) %>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="video-section">
      <h3>Brian Jonestown Massacre</h3>
      <h4>"When Jokers Attack" live at O2 Forum, London</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "wfKa8g6BY_k" }) %>
      <br>
    </div>
  </div>

</div>

<div class="columns-2">

  <div class="column">
    <div class="video-section">
      <h3>Brian Jonestown Massacre</h3>
      <h4>"Anemone" live at O2 Forum, London</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "hKo0veoTRJA" }) %>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="video-section">
      <h3>Drum Jam</h3>
      <h4>With Jackie Gallant of Lesbians on Ecstasy</h4>
      <hr>
      <%= partial('partials/video', :locals => { :youtube_uuid => "Tei3qLPvM5Y" }) %>
      <br>
    </div>
  </div>

</div>